{% extends "layout.html" %}


{% block body %}

<script>

$(document).ready(function(){

    $('[data-toggle="popovers"]').popover({
    	html:true,
    	container:'body'
    }); 

    $('[data-toggle="popover"]').popover({
    	trigger:'hover',
    	html:true,
    	container:'body'
    }); 
});
</script>

<!--Tests To see if there is an error-->
{% if inputError %}

	<h2 class="text-danger">Uh oh Looks Like you entered Something Incorrectly</h2>

{% endif %}

<table class="table-bordered">
<tr>  <!--Header row for the Table-->
	<td class="dayHeader day"> <center> Monday   </center></td>
	<td class="dayHeader day"> <center> Tuesday  </center></td>
	<td class="dayHeader day"> <center>Wednesday </center></td>
	<td class="dayHeader day"> <center>Thursday  </center></td>
	<td class="dayHeader day"> <center>Friday    </center></td>
	<td class="dayHeader day"> <center>Saturday  </center></td>
	<td class="dayHeader day"> <center>Sunday    </center></td>
</tr>

{% for week in days %} <!--Loop for each week-->

	<tr> 

		{% for day in week %}
		<td class="day" style="height:100px; width:100px;position:relative;"> 
			<span style="position:absolute; top:0px;right:0px;">
				<b onclick="addEvent('{{day.day}}')"> {{day.day}} </b>
			</span>

			<br>

			<!-- Random For Now -->

	{% set full= False%} <!--Boolean for whether or not an event was added in this day-->		
	
	{% for dayy, set_of_events in url_sentiment_startTime_name.items() %}
	<!-- can remove the not full  check here and maybe do a for loop-->

		{% for monthLink in set_of_events  %}

	{% if not full and monthLink.1.0==day.month and dayy==day.day%}
		<div class="dropdown" style="position:absolute;bottom:-0px; left:0px;">
  <button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown" >Events
  <span class="caret"></span></button>
<ul class="dropdown-menu">
		{% set full=true %}
	{% endif %}


		{% if dayy==day.day and monthLink.1.0==day.month %}
			{% if monthLink.0.0=="#" %}				
    				<li><button data-toggle="popover"
						{% if monthLink.0.1=="positive"  %}
							class="btn btn-success"container: 'body'
						{% elif monthLink.0.1=="negative" %}
							class="btn btn-danger"
						{% else %} 
							class="btn btn-hazard"
						{% endif %}
						data-content='<h1 class="text-primary">{{monthLink.1.1}}</h1>'

						>
  						<span class="glyphicon glyphicon-glass" aria-hidden="true"></span>
					</button></li>
   			{% else %}
				<li><button type="button" 
				data-toggle="popover"
				data-content='<h1 class="text-primary">{{monthLink.1.1}}</h1>'
				{% if monthLink.0.1=="positive"  %}
					class="btn btn-success"
				{% elif monthLink.0.1=="negative" %}
					class="btn btn-danger"
				{% else %} 
					class="btn btn-hazard"
				{% endif %}
				onclick="window.location.href='{{monthLink.0.0}}'">
  				<span class="glyphicon glyphicon-glass" aria-hidden="true"></span>
			</button></li>
				{% set full = True %}
		{% endif %}
		{% endif %}
		{% endfor %}
	{% if loop.last%}
		</ul>
		</div>
		<button  data-toggle="popovers" style="position:absolute;top:0px; left:0px;" type="button" class="btn btn-primary btn-xs" data-content='<form role="form" action="{{url_for('addEvent')}}" method="post">
  			  	<div class="form-group">
  					<label for="name">Event Name:</label>
    				<input name="name" type="input" class="form-control" id="name">
				</div>
				<div class="form-group">
    				<label for="start_time">Start Time: "YYYY-MM-DD HH:mm:</label> 
    				<input name="start_time" type="input" class="form-control" id="start_time" value="{{day}}">
  				</div> 
  				<div class="form-group">
    				<label for="end_time">End Time: "YYYY-MM-DD HH:mm:</label> 
    				<input name="end_time" type="input" class="form-control" id="end_time" value={{day}} >
  				</div>
  				
  				<button type="submit" class="btn btn-success">Add Event</button>
  			</form>'>
			<span class="glyphicon glyphicon-plus">
			</span>
		</button>
	{% endif %}

	{% endfor %}
	{{empty}}

</br>
		</td>
		{% endfor %}
	</tr>
{% endfor %}
</table>

