
{% extends "layout.html" %}
{% block header %}
<script>

var access_token;
function statusChangeCallback(response) {
    console.log('statusChangeCallback');
    console.log(response.authResponse.accessToken);
    // The response object is returned with a status field that lets the
    // app know the current login status of the person.
    // Full docs on the response object can be found in the documentation
    // for FB.getLoginStatus().
    if (response.status === 'connected') {
      console.log("heeeere");
      access_token=response.authResponse.accessToken;
      redirectToLogin();
    } else if (response.status === 'not_authorized') {
      // The person is logged into Facebook, but not your app.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into this app.';
    } else {
      // The person is not logged into Facebook, so we're not sure if
      // they are logged into this app or not.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into Facebook.';
    }
  }

  // This function is called when someone finishes with the Login
  // Button.  See the onlogin handler attached to it in the sample
  // code below.
  function checkLoginState() {
    FB.getLoginStatus(function(response) {
         console.log("hella response"+response);
         statusChangeCallback(response);
      
    });
  }

  window.fbAsyncInit = function() {
  FB.init({
    appId      : '980574005299790',
    cookie     : true,  // enable cookies to allow the server to access 
                        // the session
    xfbml      : true,  // parse social plugins on this page
    version    : 'v2.2' // use version 2.2
  });

  // Now that we've initialized the JavaScript SDK, we call 
  // FB.getLoginStatus().  This function gets the state of the
  // person visiting this page and can return one of three states to
  // the callback you provide.  They can be:
  //
  // 1. Logged into your app ('connected')
  // 2. Logged into Facebook, but not your app ('not_authorized')
  // 3. Not logged into Facebook and can't tell if they are logged into
  //    your app or not.
  //
  // These three cases are handled in the callback function.

  FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
    console.log("yeehawwwwwwwwwww"+access_token);
    if (response.status === 'connected') {
    
    access_token=response.authResponse.accessToken;
    console.log("yeehawwwwwwwwwww"+response);
    
 {% if not session['logged_in'] %}
          console.log("here");
          redirectToLogin();
      {% endif %}
}
});

  };



 
  // Here we run a very simple test of the Graph API after login is
  // successful.  See statusChangeCallback() for when this call is made.
 function redirectToLogin() {
var myForm = document.createElement("form");
      myForm.method="post";
      myForm.setAttribute("action", "{{url_for('logged_in')}}");
var otherHiddenField = document.createElement("input");


    FB.api('/me', function(response) {
      var hiddenField = document.createElement("input");
      hiddenField.setAttribute("name", "user_info");
      hiddenField.setAttribute("value", JSON.stringify(response));
      myForm.appendChild(hiddenField);

  console.log("Suuuuuuuuup BORRRRRRRRRRRRRRRRROOOOOO"+access_token);
      hiddenField = document.createElement("input");
      hiddenField.setAttribute("name", "access_token");
      hiddenField.setAttribute("value", access_token);
      myForm.appendChild(hiddenField);
      console.log("hhhheeeerrreeee");
   });
    FB.api('/me/events', function(response) {
     
      otherHiddenField.setAttribute("name", "user_events");
      console.log("heeeerrreee"+JSON.stringify(response));
      otherHiddenField.setAttribute("value", JSON.stringify(response));
myForm.appendChild(otherHiddenField);
  myForm.submit();
     });
  }
</script>

{% endblock %}

{% block body %}


<div class="row">
  <div class="col-md-3 col-md-offset-2">
    <span class="grabber"> Use Our Calendar </br> and  Stay Organized! </span>
  </div>
  <div class="col-md-3 ">
    <img src="https://www.hays.ca/cs/groups/hays_common/@ca/@content/documents/promotionalcontent/hays_665918.png" style="width:304px;height:304px">
  </div>
</div>

{% endblock %}